body {
	font-size: 15px;
	font-family: "Lexend Deca", sans-serif;
	color: white;
	margin: 0;
	box-sizing: border-box;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
html {
	height: 100%;
}

.bright-orange {
	background-color: hsl(31, 77%, 52%);
}
.Dark-cyan {
	background-color: hsl(184, 100%, 22%);
}
.Very-dark-cyan {
	background-color: hsl(179, 100%, 13%);
}
main {
	display: flex;

	border-radius: 7px;
	overflow: hidden;
}
.container {
	width: 60vw;
	margin: auto auto;
}

.image {
	padding: 5em;
	position: relative;
}
img {
	display: block;
	position: absolute;
	top: 80px;
	left: 48px;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-basis: 100%;
}
.info {
	padding: 3em;
	margin-bottom: 1em;
	flex: 1;
}
.info p {
	line-height: 1.8em;
	font-size: 1.05rem;
	max-width: 25ch;
}
.info h2 {
	font-family: "Big Shoulders Display", cursive;
	font-size: 2.5rem;
}

#lm1:hover {
	background-color: white;
	color: hsl(31, 77%, 52%);
}
#lm2:hover {
	background-color: white;
	color: hsl(184, 100%, 22%);
}
#lm3:hover {
	background-color: white;
	color: hsl(179, 100%, 13%);
}

.button {
	padding: 2em;
}

.learn-more {
	border: 1px solid white;
	width: 50%;
	border-radius: 27px;
	padding: 0.5em 1em;
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
}

@media (max-width: 870px) {
	.container {
		width: 90vw;
		padding: 1.5em;
	}
	main {
		flex-wrap: wrap;
	}
}
